#logo{
  border-style:double;
  border-color: #FFF;
  font-size: 30px;
  padding: 7px;
  margin-left:20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B8292;
    font-size: 20px;
    color: #fff;

}

li {
  float:right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
  }
